{{#map_result}}
<li class="list-group-item swappable-block">
    <h5 class="swappble-block-title-transit">
        Transit
    </h5>
    <i class="fa fa-times fa-1x delete-activity"></i>

    <div class="swappble-block-content-transit">
        {{#each legs}}
            <a class="transit-title"><strong>{{start_address}}</strong> to <strong>{{end_address}}</strong></a>
            
            <div class="transit-route-info">
                {{#distance}}
                    <span>{{text}}</span>
                {{/distance}}
                {{#duration}}
                    <span>{{text}}</span>
                {{/duration}}
            </div>
        {{/each}}
    </div>
    <input name="transit-data" class="hidden-input-data" type="hidden" value={{EncodeJSON2string ../this}}>
</li>
{{/map_result}}
