<section id="trip-schedule">
    <form method="POST" action="/save-schedule"></form>
        <div class="trip-title-details">
            <br>
            <br>
            <input id="trip-name" type="text" value="Trip Name"/>
            <input id="save-schedule" type="submit" class="btn btn-success" value="Save">
            <a class="btn btn-primary select-locations" href="/show-schedule">Show</a>
            <a class="btn btn-primary select-locations" href="/save-schedule">Save</a>
            <a class="btn btn-primary select-locations" href="/delete-schedule">Del</a>
        </div>
        <div class="trip-container-box">
            {{#each eachTripDay}}
            <div id={{date}} class="trip-container">
                <h4>{{date}}</h4>
                <div class="trip-black-container">
                    <div class="black-container-contents">
                        <div class="btn-container">
                            <form class="container-form" method="GET" action="/search-hotels/{{date}}">
                                <input id="{{date}}-search-hotel" class="btn btn-primary select-hotel" type="submit" value="Hotel"/>
                            </form>
                            <a class="btn btn-primary select-transportation" href="/transportation/{{date}}">Transit</a>
                            <a class="btn btn-primary select-locations" href="/location/{{date}}">Places</a>
                            <a class="btn btn-primary select-flight" href="/flight/{{date}}">Flight</a>
                        </div>
                        <div class="activity-section-{{date}} list-group activity-list">
                            <ul class="list-group schedule-activity-blocks">
                                {{#if activityArr}}
                                    {{#each activityArr}}
                                        {{#equal type "Transportation"}}
                                            {{> transit-event-partials this}}
                                        {{/equal}}
                                        {{#equal type "Location"}}
                                            {{> location-event-partials this}}
                                        {{/equal}}
                                        {{#equal type "Flight"}}
                                            {{> flight-event-partials this}}
                                        {{/equal}}
                                        {{#equal type "Hotel"}}
                                            {{> hotel-event-partials this}}
                                        {{/equal}}
                                    {{/each}}
                                {{/if}}
                                <!--
                                {{#if transitArr}}
                                    {{#each transitArr}}
                                        {{> transit-event-partials this}}
                                    {{/each}}
                                {{/if}}
                                {{#if locationArr}}
                                    {{#each locationArr}}
                                        {{> location-event-partials this}}
                                    {{/each}}
                                {{/if}}
                                {{#if flightArr}}
                                    {{#each flightArr}}
                                        {{> flight-event-partials this}}
                                    {{/each}}
                                {{/if}}
                                {{#if hotelArr}}
                                    {{#each hotelArr}}
                                        {{> hotel-event-partials this}}
                                    {{/each}}
                                {{/if}}
                                -->            
                            </ul>
                        </div>
                    </div><!-- ./black-container-contents -->
                </div><!-- ./trip-black-container -->
            </div><!-- ./trip-container -->  
            {{/each}}
        </div><!-- ./trip-container-box -->
    </form>
    <br>
</section>
<script src='/trip-list.js'></script>