<section id="trip-schedule">
    <form method="POST" action="/save-schedule"></form>
        <div class="trip-title-details">
            <br>
            <br>
            <input id="trip-name" type="text" value="Trip Name"/>
            <!--<input id="save-schedule" type="submit" class="btn btn-success" value="Save">-->
            <a class="btn btn-primary select-locations" href="/show-schedule">Show</a>
            <a class="btn btn-primary select-locations" href="/save-schedule">Save</a>
            <a class="btn btn-primary select-locations" href="/delete-schedule">Del</a>
            <button type="submit" id="save-schedule" class="btn btn-circle btn-lg" value="Save"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
            <!--input id="save-schedule" type="submit" class="btn btn-success" value="Save"-->
        </div>
        <div class="trip-container-box">
            {{#each eachTripDay}}
            <div id={{date}} class="trip-container">
                <h4 class="day-date text-center">{{date}}</h4>
                <div class="trip-black-container">
                    <div class="black-container-contents">
                        <div class="btn-container">
                            <a class="btn btn-primary btn-circle btn-lg select-flight" href="/flight/{{date}}"><i class="fa fa-plane" aria-hidden="true"></i></a>
                            <a class="btn btn-primary btn-circle btn-lg select-hotel" href="/search-hotels/{{date}}"><i class="fa fa-bed" aria-hidden="true"></i></a>
                            <a class="btn btn-primary btn-circle btn-lg select-transportation" href="/transportation/{{date}}"><i class="fa fa-bus" aria-hidden="true"></i></a>
                            <a class="btn btn-primary btn-circle btn-lg select-locations" href="/location/{{date}}"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                        </div>
                        <div class="activity-section-{{date}} list-group activity-list">
                            <ul class="list-group schedule-activity-blocks">
                                {{#if activityArr}}
                                    {{#each activityArr}}
                                        {{#equal type "Transportation"}}
                                            {{> transit-event-partials this}}
                                        {{/equal}}
                                        {{#equal type "Location"}}
                                            {{> location-event-partials this}}
                                        {{/equal}}
                                        {{#equal type "Flight"}}
                                            {{> flight-event-partials this}}
                                        {{/equal}}
                                        {{#equal type "Hotel"}}
                                            {{> hotel-event-partials this}}
                                        {{/equal}}
                                    {{/each}}
                                {{/if}}
                                <!--
                                {{#if transitArr}}
                                    {{#each transitArr}}
                                        {{> transit-event-partials this}}
                                    {{/each}}
                                {{/if}}
                                {{#if locationArr}}
                                    {{#each locationArr}}
                                        {{> location-event-partials this}}
                                    {{/each}}
                                {{/if}}
                                {{#if flightArr}}
                                    {{#each flightArr}}
                                        {{> flight-event-partials this}}
                                    {{/each}}
                                {{/if}}
                                {{#if hotelArr}}
                                    {{#each hotelArr}}
                                        {{> hotel-event-partials this}}
                                    {{/each}}
                                {{/if}}
                                -->            
                            </ul>
                        </div>
                    </div><!-- ./black-container-contents -->
                </div><!-- ./trip-black-container -->
            </div><!-- ./trip-container -->  
            {{/each}}
        </div><!-- ./trip-container-box -->
    </form>
    <br>
</section>
<script src='/trip-list.js'></script>